body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue" sans-serif, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #172b4d !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.body {
  padding-left: 10px;
  padding-right: 10px;
  color: #172b4d !important;
}

.navbar {
  background-color: #104a7e;
  font-weight: bold;
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navbar-brand {
  color: white;
}

.btn-secondary {
  background-color: #42526e !important;
}
.btn-primary {
  background-color: #42526e !important;
}

.brand-logo {
  display: inline-flex !important;
}
